.container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top:50px;
  margin-bottom: 20px;
}

/* PAGINA DE CONTACTO */

.container-info {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 15px;
}

.icon {
  width: 40px;
  height: 40px;
}
.data {
  width: 60%;
  margin-bottom: 20px;
  padding: 20px 10px;
  text-align: center;
  border-radius: 5px;
  color: #607b99;
  background-color: #8aafd62a;
  border: 1px solid #607b99;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.277);
}

.email-link {
  text-decoration: none;
  color:#37404f;
}

.h2-form {
  font-size: 20px;
  cursor: pointer;
}

.form-box {
  flex-basis: 66%;
  padding: 0 15px;
}

.subtitle {
  font-size: 17px;
  margin-top: 10px;
}
.contact-form {
  width: 100%;
}
.form__container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.form__left {

  margin-top: 10px;
  flex-basis: 47%;
  margin-right: 15px;
}

.form__group {

  position: relative;
  margin-bottom: 2.5rem;
}

.form__input {
  font-family: "yayou";
  position: relative;
  width: 80%;
  height: 20px;
  display: block;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem 1.2rem;
  outline: none;
  background-color: #f8efecf8;
  line-height: 2.1rem;
  z-index: 1;
}

.form__input:focus {
  border: 0.2rem solid #607b99;
}

.form__label {
  font-family: "finger";
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  z-index: -1;
  color: #743f61;
  font-size: 1.3rem;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

.form__input:focus ~ label,
.form__input:not(:placeholder-shown) ~ label {
  top: -2rem;
  left: 0;
  z-index: 1;
  font-size: 15px;
  color: #743f61;
}


.form__right {
  flex-basis: 50%;
  max-width: 93%;
  max-height: 100%;
}

.form__group--textarea {
  width: 100%;
  height: 100%;
}

.form__input--textarea {
  display: block;
  resize: none;
  height: 100%;
}
.form__button {
  width: 125px;
  margin-top: -23px;
  margin-left: 62px;
  margin-bottom: 15px;
  border-radius: 10px;
}


.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 15rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
  border-radius: 5px;
  background-color: #8aafd61b;
  border: 1px solid #607b99;
  box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.277);
}

.iframe {
  width: 95%;
  height: 14rem;
}



@media (max-width: 800px) {
  .container-info {
    flex-direction: column;
  }

  .info,
  .form-box {
    width: 90%;
    margin: 0;
  }

  .map {
    width: 104%;
    margin-left: -15px;
    height: auto;
  }

  .iframe {
    width:90%;
    height: 200px;
  }
}


@media (max-width: 585px) {

  .container {
    width: 90%;
  }

  .data {
    margin-left: -18px;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    border-radius: 5px;
    background-color: #8aafd62a;
    border: 1px solid #607b99;
    box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.277);
  }

  .form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }


}
