<div class="container">
  <h2>Contacto</h2>
</div>


<div class="container-info">
  <section class="info">

    <div class="data">
      <img class="icon" src="assets/img/freelance.png" alt="">
      <h4 class="subtitle">Fullstack Developer</h4>
    </div>

    <div class="data">
      <a href="https://t.me/Suzowy" target="_blank" class="telegram-link">
          <img class="icon" src="assets/img/contacto.png" alt="">
          <h4 class="subtitle">&#64;Suzowy</h4>
      </a>
  </div>
    <div class="data">
      <a href="mailto:{{ email }}" class="email-link">
      <img class="icon" src="assets/img/email.png" alt="">
      <h4 class="subtitle">{{ email }}
      </h4>
    </a>
    </div>

    <div class="data">
      <img class="icon" src="assets\img\localizacion (1).png" alt="">
       <h4 class="subtitle">Pamplona / Madrid</h4>
     </div>


  </section>

  <section class="form-box">
    <div class="map">
      <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23413.611217144844!2d-1.6706211329719793!3d42.8157956343297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd50928ba31965c7%3A0x4e6e903632cb2e90!2sPamplona%2C%20Navarra!5e0!3m2!1ses!2ses!4v1711915914237!5m2!1ses!2ses" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <!-- <div>
    <h2 class="h2-form">¿Cómo puedo ayudarte?</h2>
  </div>
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="form__container">
      <section class="form__left">
        <div class="form__group">
          <input
            type="text"
            class="form__input"
            name="name"
            ngModel
            required
            placeholder="Nombre"
            pattern="[A-Za-z]+"
            #name="ngModel"
          />
          <label class="form__label">Nombre</label>

          <span class="formError" *ngIf="name.invalid && name.touched">
            El nombre debe contener solo letras.
          </span>
        </div>

        <div class="form__group">
          <input
            type="email"
            class="form__input"
            name="userEmail"
            ngModel
            required
            pattern=".+@.+"
            placeholder="Email"
            #userEmail="ngModel"
          />
          <label class="form__label">Email</label>

          <span class="formError" *ngIf="userEmail.invalid && userEmail.touched">
            Debes ingresar un correo electrónico válido.
          </span>
        </div>

        <div class="form__group">
          <input
            type="text"
            class="form__input"
            name="subject"
            ngModel
            required
            placeholder="Asunto"
            #subject="ngModel"
          />
          <label class="form__label">Asunto</label>

        </div>
      </section>

      <section class="form__right">
        <div class="form__group form__group--textarea">
          <textarea
            class="form__input form__input--textarea"
            name="message"
            ngModel
            required
            minlength="20"
            placeholder="Mensaje"
            #message="ngModel"
          ></textarea>
          <label class="form__label">Mensaje</label>

          <span class="formError" *ngIf="message.invalid && message.touched">
            El mensaje debe contener al menos 20 caracteres.
          </span>
        </div>
      </section>
    </div>

    <input type="submit" class="form__button" value="Enviar mensaje" />
  </form>
  <div *ngIf="showSuccessMessage" class="message success">
    El formulario ha sido enviado con éxito.
  </div> -->
