.container1 {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
  display: block;
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.container .image {
  width: 70%;
  height: auto; /* Cambia este valor según la altura deseada */
  overflow: hidden;
}

.container .image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container .data {
  float: left;
  width: 50%;
  margin-left: 20px;
  padding: 30px;
  text-align: justify;
}

h4 {
  font-size: 17px;
  font-weight: 600;
  color: rgb(31, 31, 31);
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight: lighter;
  color: #526f8fed;
}

a {
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
  color: #578cc5;
  transition: color 0.5s;
}

a:hover {
  font-weight: bold;
  color: #6f3a5c;
}

.flecha {
  margin-top: 50px;
  width: 60px;
  height: auto;
  opacity: 0.6;

}

.atras {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 5px;
  width: 40px;
  height: auto;
  opacity: 0.6;
}

.form__buttons{
  width: 98%;
  margin-top: -152px;
  padding:10px;
  display:flex;
  justify-content:flex-end;
}

.confirm {
  font-size: 15px;
  margin-left: -100px;
  padding: 7px;
  font-weight: 600;
  background: #f01b2c;
  color: white;
}

.button-edit,
.button-delete {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width:55px;
  font-weight: 800;
  height: auto;
  font-size: 20px;
  color: rgba(68, 68, 68, 0.817);
  fill: rgb(109, 109, 109);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.button-edit {
  background: #cddce1;
}

.button-delete {
  background: #f5d4c5;
}

.button-edit:hover {
  background: #547294;
}

.button-delete:hover {
  background: #db4040;
}

.button-edit:hover .svg,
.button-delete:hover .svg {
  transform: translateX(1.1em) scale(1.4);
  fill: #fff;
}

.button-edit:hover span,
.button-delete:hover span {
  opacity: 0;
  transition: 0.5s linear;
}

.span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

/* pantallas más pequeñas */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .container1 {
    width: 90%;
}

  .container .image,
  .container .data {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .container .data {
    padding: 0px;
  }


  .form__buttons{
    width: 99%;
    margin-top: -126px;
}

  .button-edit,
  .button-delete,
  .confirm {
    width:52px;
    margin-top: 10px;
  }

  p {
    font-size:17px;
  }

  a {
    font-size: 20px;
  }
}
