.container1 {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .image {
  width: 50%;
  height: auto; /* Cambia este valor según la altura deseada */

  overflow: hidden;
}

.container .image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container .data {
  float: left;
  width: 50%;
  margin-left: 20px;
  padding: 30px;
  text-align: justify;
}

h4 {
  font-size: 17px;
  font-weight: 600;
  color: rgb(31, 31, 31);
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight: lighter;
  color: #526f8fed;
}

a {
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
  color: #578cc5;
  transition: color 0.5s;
}

a:hover {
  font-weight: bold;
  color: #6f3a5c;
}

.flecha {
  margin-top: 12px;
  width: 70px;
  height: auto;
}

.button-edit,
.button-delete {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 10%;
  height: auto;
  color: whitesmoke;
  border-radius: 3px;
  cursor: pointer;
}

.button-edit:hover,
.button-delete:hover {
  background: #321b62;
  border: 2px solid #8560d8;
  box-shadow: inset 0px 0px 5px 3px #7d58cb;
  color: whitesmoke;
}

.button-edit {
  background: #609ed8;
  border: 2px solid #253780;
  box-shadow: inset 0px 0px 5px 1px #302580;
}

.button-delete {
  background: #d86260;
  border: 2px solid #802a25;
  box-shadow: inset 0px 0px 5px 1px #802825;
}

.button-edit:hover {
  background: #253780;
  border: 2px solid #609ed8;
  box-shadow: inset 0px 0px 5px 3px #609ed8;
}

.button-delete:hover {
  background: #802a25;
  border: 2px solid #d86260;
  box-shadow: inset 0px 0px 5px 3px #d86260;
}

.confirm {
  font-size: 15px;
  margin-left: 1px;
  padding: 7px;
  font-weight: 600;
  background: #f01b2c;
  color: white;
}

/* pantallas más pequeñas */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .container .image,
  .container .data {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .container .data {
    padding: 0px;
  }

  .button-edit,
  .button-delete,
  .confirm {
    width: 15%;
    margin-top: 10px;
  }

  p {
    font-size: 20px;
  }
  a {
    font-size: 25px;
  }
}
