<div class="container1">
  <h2>Detalle del proyecto</h2>

  <div class="container" *ngIf="project">
    <div class="image">
      <img
        [src]="'https://res.cloudinary.com/' + cloudinaryCloudName + '/image/upload/proyectos/' + project.image"
        *ngIf="project.image"
        alt="img"
        (error)="onImageError($event)">
    </div>
  </div>
</div>


  <div class="data"  *ngIf="project">
    <h2>{{ project.name }}</h2>
    <h4>{{ project.description }}</h4>
    <p>categoría: {{ project.category }}</p>
    <p>Tecnologías utilizadas: {{ project.langs }}</p>
    <a href="{{ project.http }}" target="_blank">
      Click para ver el proyecto.
    </a><br>
    <a [routerLink]="['/proyectos']">
      Volver a proyectos
    </a>
  </div>

  <div class="form__buttons">
    <p *ngIf="isLoggedIn && !confirm"> <!-- Verifica si el usuario está autenticado -->
      <a *ngIf="project" [routerLink]="['/editar-proyecto', project._id]" class="button-edit">
        <svg class="svg" viewBox="0 0 16 16">
          <!-- SVG para el botón de editar -->
        </svg><span>Editar</span>
      </a>
      <a (click)="setConfirm(true)" class="button-delete">
        <svg class="svg" viewBox="0 0 16 16">
          <!-- SVG para el botón de borrar -->
        </svg><span>Borrar</span>
      </a>
    </p>

    <p *ngIf="confirm == true">
      <span class="confirm">¿Estas seguro de eliminar este proyecto?</span>
      <a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
      <a (click)="deleteProject(project._id)" class="button-delete">Eliminar</a>
    </p>
  </div>
