<div class="container">
  <article class="about">
    <h2>Sobre mi</h2>
    <p>
      Estoy dando mis primeros pasos en el mundo de la programación como fullstack. Aunque estoy explorando tanto el
      lado del front-end como del back-end del desarrollo web, debo admitir que tengo una inclinación especial hacia el
      front-end.<br>
      Me encanta trabajar en la interfaz de usuario y crear experiencias interactivas. Además, estoy aprendiendo sobre
      tecnologías como HTML, CSS, JavaScript, así como frameworks como React y Angular para potenciar mis habilidades en
      el desarrollo front-end.<br>
      Soy autodidacta y disfruto explorando y aprendiendo nuevas tecnologías por mi cuenta. También estoy sumergiéndome
      en el mundo de las bases de datos NoSQL y SQL para el almacenamiento de datos, y estoy incursionando en PHP para
      el desarrollo del lado del servidor.<br>
      Cada vez que resuelvo un problema o escribo código, siento que estoy avanzando hacia mi meta de convertirme en una
      desarrolladora fullstack competente y creativa. Estoy preparada para enfrentar cualquier desafío que se presente.
      ¡mientras seguire aprendiendo y creciendo!
    </p>
  </article>
</div>
