<div class="container">
  <article class="about">
    <h2>Sobre mi</h2>
    <p>
      Mi primer contacto con la programación fue en un bootcamp en 2022 y, desde entonces, no he parado de aprender. Todo este tiempo he seguido formándome por mi cuenta, probando cosas nuevas, investigando, rompiendo y arreglando código (muchas, muchas veces).<br>
      Trabajo como freelance, lo que me ha permitido aplicar lo que sé en proyectos reales y seguir creciendo día a día.<br>
      Manejo tecnologías como HTML, CSS y JavaScript, y también frameworks como React y Angular para potenciar mis habilidades en el desarrollo front-end.<br>
      Soy autodidacta y me encanta explorar y aprender nuevas tecnologías por mi cuenta. También tengo conocimientos en bases de datos NoSQL y SQL para el manejo y almacenamiento de datos.<br>
      Cada vez que resuelvo un problema o termino una funcionalidad, siento que estoy un paso más cerca de ser la desarrolladora fullstack que quiero ser: creativa, resolutiva y con muchas ganas de seguir mejorando.<br>
      Mientras tanto, seguiré aprendiendo, creciendo y disfrutando el camino 💻✨
    </p>

  </article>
</div>
