/* sobre mi */

.about {
  font-family: "yanone";
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 20px;

}

.flecha {
  width: 50px;
  height: auto;
  cursor: pointer;
  opacity: 0.7;
}

.about p {
  padding-top: 30px;
  padding-bottom: 30px;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  text-align: justify;
}

@media (max-width: 585px) {

.about{
  width: 95%;

}
.about p {
  font-size: 16px;
}
}
