/* Pie de página */
footer {
  font-family: "yanone";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  background: #4d5a62;
  padding-top: 50px;
  padding-bottom: 30px;
  overflow: hidden;
}

footer h2{
color: #d0c8c1;
font-weight: lighter;
font-size: 15px;
}
/* social media */
.card {
  width: fit-content;
  height: fit-content;
  background-color: #f2e7e3;
  display: -webkit-box;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

.containerFour:hover {
  background-color: rgb(0, 0, 0);
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.copy {
  width:97%;
  margin-top: 80px;
  color: rgba(245, 245, 245, 0.817);
  font-size: 13px;
  font-weight: lighter;
}

.creditos{
  margin-top: 30px;
  font-size: 13px;
  color: rgba(240, 248, 255, 0.606);
}

.creditos a{
  text-decoration: none;
  color: #d0c8c1;
}
