.gif {
  width: 200px;
  height: auto;
  margin-top:30px;
  margin-left: -8px;
  margin-bottom: 49px;
  border-radius: 50%;
}

#title {
  width: 100%;
min-height: 80vh;
  margin: 0px auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#title h1 {
  font-family: "finger";
  color: #1a191acb;
  line-height: 2;
  font-size: 50px;
  padding-bottom: 20px;
  animation: grow 2s forwards;
}

@keyframes grow {
  0% {
    transform: scale(0.2, 1.5);
  }
  100% {
    transform: scale(0.9, 2);
  }
}

#title h3 {
  font-size: 25px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

#title p {
  font-size: 20px;
  color: rgba(87, 64, 98, 0.877);
}

@media (max-width: 585px) {
  .gif {
    width: 150px;

  }

  #title h1 {
    font-size: 38px;
  }
}
