/* Seccion con formulario */

.container {
  padding: 50px;
}

/* .container h2{
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
} */

.form__group {
  position: relative;
  margin-top: 50px;
}

.form__input {
  font-family: "yayou";
  position: relative;
  width: 55%;
  height: 45px;
  display: block;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px 12px;
  outline: none;
  background-color: #f8efecf8;
  line-height: 1;
  z-index: 1;
}

.form__input:focus {
  border: 0.2rem solid #607b99;
}

textarea.form__input {
  min-height: 100px;
  resize: none;
  overflow-y: hidden;
  line-height: 1.5;
  padding: 10px;
  font-size: 16px;
}



.form__label {
  font-family: "finger";
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  z-index: -1;
  color: #743f61;
  font-size: 1.3rem;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

.form__input:focus ~ label,
.form__input:not(:placeholder-shown) ~ label {
  top: -2rem;
  left: 0;
  z-index: 1;
  font-size: 15px;
  color: #743f61;
}

.button-submit {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 95px;
  font-weight: 800;
  height: 50px;
  font-size: 20px;
  color: #37404f;
  padding-left: 9px;
  display: flex;
  border: none;
  box-shadow: 0px 3px 6px #37404f;

  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background: #f4d5c0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.button-submit:hover {
  background: #37404f;
}

.button-submit:hover .svg {
  transform: translateX(1.5em) scale(1.7);
  fill: #f4d5c0;
  opacity: 1;
}

.button-submit:hover span {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.span {
  display: block;
  margin-left: 0.3em;
  transition: opacity 0.3s ease-in-out;
}

.svg {
  display: block;
  transform-origin: center center;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media (max-width: 585px) {
  .form__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}
