<div class="container" *ngIf="project">
  <h2>{{ title }}</h2>

  <div class="message success" *ngIf="status == 'success'">
    El proyecto se ha creado correctamente, puedes verlo <a [routerLink]="['/proyecto', project._id]">aquí</a>
  </div>

  <div class="message failed" *ngIf="status == 'failed'">
    ¡Error! el proyecto no se ha podido crear
  </div>

  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">


    <div class="form__group">
      <input type="text" class="form__input" name="name" #name="ngModel" [(ngModel)]="project.name" required placeholder="Nombre" />
      <label class="form__label" for="name">Nombre</label>
      <span class="formError" *ngIf="name.touched && !name.valid">El nombre es obligatorio</span>
    </div>


    <div class="form__group">
      <textarea class="form__input" name="description" #description="ngModel" [(ngModel)]="project.description" required placeholder="Descripción"></textarea>
      <label class="form__label" for="description">Descripción</label>
      <span class="formError" *ngIf="description.touched && !description.valid">La descripción es obligatoria</span>
    </div>


    <div class="form__group">
      <input type="text" class="form__input" name="category" #category="ngModel" [(ngModel)]="project.category" required placeholder="Categoria" />
      <label class="form__label" for="category">Categoría</label>
      <span class="formError" *ngIf="category.touched && !category.valid">La categoría es obligatoria</span>
    </div>


    <div class="form__group">
      <input type="number" class="form__input" name="year" #year="ngModel" [(ngModel)]="project.year"  />
      <label class="form__label" for="year"></label>
    </div>

    <div class="form__group">
      <input type="text" class="form__input" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required placeholder="Lenguajes" />
      <label class="form__label" for="langs">Lenguajes</label>
      <span class="formError" *ngIf="langs.touched && !langs.valid">Los lenguajes son obligatorios</span>
    </div>

    <div class="form__group">
      <input type="text" class="form__input" name="http" #http="ngModel" [(ngModel)]="project.http" required placeholder="URL" />
      <label class="form__label" for="http">Enlace página</label>
    </div>

    <div class="form__group">
      <input type="file"  name="image"  (change)="fileChangeEvent($event)"/>
      <label class="form__label" for="image"></label>
      <span class="image" *ngIf="project.image" style="float: none">
        <img src="{{url+'/get-image/'+project.image.substring(8)}}" *ngIf="project.image" alt="img" style="width: 100px;">
      </span>
    </div>



    <div class="form__group">
      <input type="submit" class="form__button" value="Enviar" [disabled]="!projectForm.form.valid" />
    </div>

  </form>
</div>
