@font-face {
  font-family: "yanone";
  src: url("fonts/yanone.ttf");
}

@font-face {
  font-family: "finger";
  src: url("fonts/finger.ttf");
}


/* Estilos generales */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "yanone", Arial, Helvetica;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-image: url("../img/fondo4.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:center center;
  z-index: -1;
}


/* Contenedor principal */
#content {
  font-family: "yanone";
  min-height: 600px;
  height: auto;
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
  box-shadow: 0 0 12px rgba(173, 173, 173, 0.74);
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  background: #ffffffea;
  padding-top: 120px;
  overflow: hidden;
}

h2 {
  font-family: "finger";
  font-size: 30px;
  color: #37404fdb;
  border-bottom: 1px solid #c0bebe;
  margin-top:20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.imput .file{
  border-radius: 50px;
}

.formError {
  width: 100%;
  font-size: 13px;
  margin-left: 5px;
  color: #e63242;
}

.message {
  padding: 5px;
  border: 1px solid #eee;
  width: 50%;
}

.success {
  width: 100%;
  color: rgb(51, 181, 51);
  font-family: "finger";
  font-size: 15px;
}

.failed {
  width: 100%;
  color: #e63242;
  font-family: "finger";
  font-size: 15px;
}

@media (max-width: 768px) {

  #content {
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }

  form {
    width:90%;
  }

  form input[type="text"],
  form input[type="number"],
  form input[type="email"],
  form textarea {
    width: 90%;
    height: 30px;
    padding: 5px;
  }
}
