@font-face {
  font-family: "yanone";
  src: url("fonts/yanone.ttf");
}

@font-face {
  font-family: "finger";
  src: url("fonts/finger.ttf");
}


/* Estilos generales */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "yanone", Arial, Helvetica;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-image: url("../img/fondo4.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:center center;
  z-index: -1;
}


/* Contenedor principal */
#content {
  font-family: "yanone";
  min-height: 600px;
  height: auto;
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
  box-shadow: 0 0 40px black;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  background: #f7f6f4ec;
  padding-top: 120px;
  overflow: hidden;
}

h2 {
  font-family: "finger";
  font-size: 30px;
  color: #37404fdb;
  border-bottom: 1px solid #c0bebe;
  margin-top:20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Formularios generales para todas las páginas */
/* form {
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
}

form label {
  color: #686868;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
  width: 40%;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  font-size: 15px;
  padding: 1rem 1.2rem;
  outline: none;
  background-color: #f5eeeb;
  color: #686868;
  line-height: 1.1rem;
  z-index: 1;
}
*/
/* form button,
form input[type="submit"] {
  display: block;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
  color: whitesmoke;
  background: #8560d8;

  border: 2px solid #422580;
  box-shadow: inset 0px 0px 5px 1px #422580;
  border-radius: 3px;
  cursor: pointer;
}

form button:hover,
form input[type="submit"]:hover {
  background: #321b62;
  border: 2px solid #8560d8;
  box-shadow: inset 0px 0px 5px 3px #7d58cb;
  color: whitesmoke;
}

form input[disabled] {
  opacity: 0.6;
}

form input[disabled]:hover {
  cursor: no-drop;
} */

.imput .file{
  border-radius: 50px;
}


.formError {
  width: 100%;
  font-size: 13px;
  margin-left: 5px;
  color: #e63242;
}

.message {
  padding: 5px;
  border: 1px solid #eee;
  width: 50%;
}

.success {
  width: 100%;
  color: rgb(51, 181, 51);
  font-family: "finger";
  font-size: 15px;
}

.failed {
  width: 100%;
  color: #e63242;
  font-family: "finger";
  font-size: 15px;
}

@media (max-width: 768px) {

  #content {
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }

  form {
    width:90%;
  }

  form input[type="text"],
  form input[type="number"],
  form input[type="email"],
  form textarea {
    width: 90%;
    height: 30px;
    padding: 5px;
  }
}
