.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 20px;
}

.container h2 {
  position: relative;
  width: 80%;
  left: 10%;
  border-bottom: 1px solid #c0bebe;
}

.container2 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container2 .project {
  width: 100%;
  height: auto;
  border-radius: 5px;
  /* background: url(/assets/img/fondo-proyecto.jpg); */
  /* background-position: top; */
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.091);
  overflow: hidden;
  display: inline-flex;
  text-align: center;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-content: center; */
  /* justify-content: center; */
  /* align-items: center; */
}

.container2 .project:hover {
  border-color: #fed7be;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.container2 .project img {
      width: 60%;
      height: auto;
    overflow: hidden;
    display: flex;
    transition: all 300ms ease-in-out;
    padding: 10px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.437));
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.container2 .project img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px -2px 12px rgba(0, 0, 0, 0.69));
}

.container3 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* text-align: center; */
  margin-top: 100px;
  margin-bottom: 100px;
  list-style: none;
}

.container3 h2,
.container4 h2 {
  position: relative;
  width: 80%;
  left: 10%;
  border-bottom: 1px solid #c0bebe;
}

.container3 .tecno {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #f5f5f5;
  position: relative;
  border: 1px solid #c3c6cea3;
  overflow: hidden;
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.container3 .log img {
  width: 80%;
  margin: 4px auto;
}

.container4 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
  list-style: none;
  text-decoration: double;
}

.accordion-item {
  width: 70%;
  margin: 0 auto;
  color: var(--bs-accordion-color);
  background-color: #ffffff00;
  border: none;
}

.accordion-header button{
  background-color: #ffffff00;
}
.accordion img {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

h3 {
  line-height: 1.8;
  text-transform: uppercase;
  color: #454f53;
  font-size: 18px;
}

p {
  color: #4d6a89d4;
  font-size: 15px;
  font-weight: lighter;
}

.project-list {
  transition: all 0.5s ease-in-out;
}

.project-list.ng-animate {
  opacity: 0;
}

.project-list.ng-animate.ng-enter {
  opacity: 1;
}

.project-list.ng-animate.ng-leave {
  opacity: 0;
}

.project img {
  width: 30%;
  height: auto;
  overflow: hidden;
}

.project a {
    text-decoration: none;
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.project .nombre{
width: 50%;
background-color: #fed7be;
}

.accordion-item{
  width: 80%;
}

@media (max-width: 1139px) {
  .container2 .project {
    width: 30%;
    height: auto;
  }

  .project h3 {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .container2 .project {
    width: 90%;
    height: auto;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }

  /* .slider {
    height: auto;
  }

  .slider .project img {
    height: 250px;;
  } */
}

@media (max-width: 480px) {
  .container,
  .container2,
  .container3,
  .container4 {
    width: 97%;
  }
  /*
  .container2 .project {
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
  } */

  .container3 .tecno {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  /* .slider {
    width: 90%;
    height: 300px;
    padding: 0px;
  } */

  .container2 .project {
    width: 100%;
    margin-left: -16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .accordion-item {
    width: 100%;
  }
}
