.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 20px;
}

.container ul {
  padding-left: 0rem !important;
}

.container h2 {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #c0bebe;
}

.container2 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container2 .project {
  width: 100%;
  height: auto;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  text-align: center;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
  /* solo abajo y laterales */
}

.container2 .project {
  transition: all 300ms ease-in-out;
}

.container2 .project:hover {
  border-color: #ffffff;
  transform: scale(1.01);
  background: linear-gradient(to bottom, rgba(252, 252, 252, 0.149), rgba(78, 78, 78, 0.453));

}


.container2 .image {
  width: 50%;
}

.container2 .project img {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  padding: 10px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.437));
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}


.project a {
  text-decoration: none;
  display: flex;
  color: black;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project .nombre {
  width: 50%;
  background-color: #49565c;
  text-align: center;
  font-size: 10px;

  opacity: 0;
  transform: translateX(40px);
  transition: all 0.5s ease-out;
}

.project .nombre h3 {
  color: #dbd4ce;
}

/* El hover ahora detecta TODO el contenedor .project */
.project:hover .nombre,
.project:hover a .nombre {
  opacity: 1;
  transform: translateX(0);
}


.container3 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* text-align: center; */
  margin-top: 100px;
  margin-bottom: 100px;
  list-style: none;
}

.container3 h2,
.container4 h2 {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #c0bebe;
}

.container3 .tecno {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #f5f5f5;
  position: relative;
  border: 1px solid #c3c6cea3;
  overflow: hidden;
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.container3 .log img {
  width: 80%;
  margin: 4px auto;
}

.container4 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
  list-style: none;
  text-decoration: double;
}

.accordion-item {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  color: var(--bs-accordion-color);
  background-color: #ffffff00;
  border: none;
}

.accordion-header button {
  background-color: #ffffff00;
}

.accordion img {
  display: flex;
  margin: 0 auto;
  width: 30%;
  height: auto;
}


h3 {
  line-height: 1.8;
  text-transform: uppercase;
  color: #454f53;
  font-size: 18px;
}

p {
  color: #4d6a89d4;
  font-size: 15px;
  font-weight: lighter;
}

.project-list {
  transition: all 0.5s ease-in-out;
}

.project-list.ng-animate {
  opacity: 0;
}

.project-list.ng-animate.ng-enter {
  opacity: 1;
}

.project-list.ng-animate.ng-leave {
  opacity: 0;
}



@media (max-width: 1139px) {
  .container2 .project {
    width: 100%;
    height: auto;
  }

  .project h3 {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .container2 .project {
    width: 100%;
  }

}

@media (max-width: 480px) {

  .container,
  .container2,
  .container3,
  .container4 {
    width: 100%;
  }


  .container .nombre h3 {
    font-size: 10px;
  }

  .container3 .tecno {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .container2 .project {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .accordion-item {
    width: 100%;
  }

  .accordion img {
    width: 60%;
  }
}
