.container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 20px;
}

.slider {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .project {
  text-align: center;
  padding: 10px;
}

.slider .project img {
  border-radius: 10px;
  height: 340px;
}

.container2 h2{
  color: #f5f5f5;
  width: 100%;
  text-align: center;
}


.container2 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;

}

.container2 .project {
  width: 40%;
  height: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  background: #f5f5f5;
  position: relative;
  border: 1px solid #c3c6cea3;
  overflow: hidden;
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  margin: 30px;
  transition:500ms ease-out;
}

.container2 .project:hover {
  border-color: #fed7be;
  background: white;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  filter: opacity(100%);
  transform: scale(0.95);
}

.container2 .project img {
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  filter: opacity(100%);
  transition: all 300ms ease-in-out;
}

.container2 img:hover {
  filter: opacity(100%);
}


.container3{
  width: 70%;
  height: auto;
  margin: 0 auto;
  /* text-align: center; */
  margin-top: 100px;
  margin-bottom: 150px;
  list-style: none;

}


.container3 .tecno {
  width: 5%;
  height: 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  background: #f5f5f5;
  position: relative;
  border: 1px solid #c3c6cea3;
  overflow: hidden;
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  padding: 10px;
  margin: 20px;
  transition: 300ms ease-out;
}

.container3 .tecno:hover {
  border-color: #fed7be;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  filter: opacity(100%);
  transform: scale(0.90);
}

.container3 .log img {
  width: 80%;
  margin: 4px auto;
  filter: opacity(80%);
  transition: all 300ms ease-in-out;
}

.container3 img:hover {
  filter: opacity(100%);
}

/*.container2 h2,
 .container3 h2,
.container4 h2 {
  font-size: 20px;
  cursor: pointer;
} */


.container4 {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
  list-style: none;

}

.container4 .formacion{
  width:70%;
  height: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  background: #f5f5f5;
  position: relative;
  border: 1px solid #c3c6cea3;
  overflow: hidden;
  display: inline-block;
  flex-wrap: wrap;

  padding: 10px;
  margin: 30px;
}

.formacion img{
width: 100%;
height: auto;
border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
}

.container4 ul{
    list-style-type:none;
}


.flecha {
  width: 50px;
  height: auto;
  cursor: pointer;
  opacity: 0.7;
}

h3 {
  color: #4d6a89;
  font-size: 20px;
}

p {
  color: #4d6a89d4;
  font-size: 15px;
  font-weight: lighter;
}

.project-list {
  transition: all 0.5s ease-in-out;
}

.project-list.ng-animate {
  opacity: 0;
}

.project-list.ng-animate.ng-enter {
  opacity: 1;
}

.project-list.ng-animate.ng-leave {
  opacity: 0;
}

.project img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.project a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1139px) {
  .container2 .project {
    width: 35%;
    height: auto;
  }
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .container2 .project {
    width: 95%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .slider {
    height: auto;
  }

  .slider .project img {
    height: auto;
  }
}

@media (max-width: 480px) {
  .container,
  .container2,
  .container3,
  .container4 {
    width: 95%;
  }

  .container2 .project {
    width: 100%;
    margin-left: -6px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }

.container4 .formacion{
  width: 100%;
    margin-left: -6px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

  .container2 h2 {
    font-size: 13px;
  }

  .container3 .tecno {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .slider .project {
    max-width: 95%;
    height: auto;
  }
}
